@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #282828;
  --bg-hover: #ffffff1a;
  --bg-accent: #484a4d;
  --text-color: #dcdce1;
  --nav-size: 60px;
  --paper-item-min-height: 40px;
  --border: 1px solid #ffffff33;
  --border-radius: 12px;
  --box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);
  --speed: 500ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.load-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
  }
}
.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.custom-h {
  height: auto !important;
}
@media screen and (min-width: 1024px) {
  .custom-h {
    height: 100vh !important;
  }
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dropdown Menu */
.dropdown {
  position: absolute;
  top: 54px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  backdrop-filter: blur(8px);
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.icon-button svg {
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.icon-right svg {
  fill: var(--text-color);
  width: 14px;
  height: 14px;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
